# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

#2 0 * * * /home/ollie/bin/trade_crypto.sh >> /home/ollie/.cryptotrade.log 2>&1
#2 8 * * * /home/ollie/bin/trade_crypto.sh >> /home/ollie/.cryptotrade.log 2>&1
#2 16 * * * /home/ollie/bin/trade_crypto.sh >> /home/ollie/.cryptotrade.log 2>&1

#31 5 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#31 6 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#31 7 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#31 8 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#31 9 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#31 10 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#31 11 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1

30 9 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
45 9 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
0 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
15 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
30 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
45 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
0 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
15 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
30 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
45 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
0 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
15 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
30 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
45 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
0 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
15 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
30 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
45 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
0 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
15 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
30 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
45 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
0 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
15 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
30 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
45 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1

#1 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#15 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#30 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#30 16 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#30 16 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#30 17 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#30 18 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1
#30 19 * * * /bin/timeout -s 2 1800  /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1

30 9 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
45 9 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
0 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
15 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
30 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
45 10 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
0 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
15 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
30 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
45 11 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
0 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
15 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
30 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
45 12 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
0 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
15 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
30 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
45 13 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
0 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
15 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
30 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
45 14 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
0 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
15 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
30 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
45 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1

#29 15 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
#29 16 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
#29 17 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
#29 18 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1
#29 19 * * * /bin/timeout -s 2 1800  /home/ollie/bin/datajob.sh >> /home/ollie/.marketdata.log 2>&1

#32 6 * * * /home/ollie/bin/trade_live.sh >> /home/ollie/.livetrade.log 2>&1
#1 0 * * * /home/ollie/bin/trade_kraken.sh >> /home/ollie/.krakentrade.log 2>&1
#1 8 * * * /home/ollie/bin/trade_kraken.sh >> /home/ollie/.krakentrade.log 2>&1
#1 16 * * * /home/ollie/bin/trade_kraken.sh >> /home/ollie/.krakentrade.log 2>&1
#2 0 * * * /home/ollie/bin/trade_crypto.sh >> /home/ollie/.cryptotrade.log 2>&1
#2 8 * * * /home/ollie/bin/trade_crypto.sh >> /home/ollie/.cryptotrade.log 2>&1
#2 16 * * * /home/ollie/bin/trade_crypto.sh >> /home/ollie/.cryptotrade.log 2>&1
#33 6 * * * /home/ollie/bin/trade_paper.sh >> /home/ollie/.papertrade.log 2>&1

